html, body{
    font-family: serif;
    margin: 0px;
    padding: 0px;
    text-align: center;
}


.subtitle{
    font-size: 40px;
}

.subtitle p{
    font-size: 35px;
    font-weight: bold;
    margin:20px 0;
}

.wrapper{
    width: 80%;
    background-color:rgba(255,255,255,0.5);
    font-size: 18px;
    margin: 0 auto 40px auto;
    padding: 20px;
    border-radius: 15px;
  }

section{
    border-bottom: solid 2px ;
}

h2{
    margin-bottom: 25px; 
}



/*メニュー*/
.headmenu{
    display: none;
}

nav ul{
    list-style: none;
}

.menuul{
    display: flex;
    margin: 0;
}

.menuul li{
    padding: 0 10px;
    font-size: 42px;
    cursor: pointer;
    border-bottom: 1px solid black;
}


.menuul li a{
    text-decoration: none;
    color: black;
}

.menuul li a:hover{
    color:rgba(222,77,77,0.55);
}


.btnmenu{
    width:100%;
    max-width: 50px;
    position: fixed;
    top: 10px;
    left: 20px;
    z-index: 999;
    background-color: rgba(215,206,187,0.55);
    cursor: pointer;
}

#btnnav{
    background-color:#ccc;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity:0.95;
    z-index: 30;
}



/*トップ*/

.introduction{
    height: 800px;
}


.myname {
    margin-top: 80px;
    font-size: 100px;
}

span{
    color:rgb(222,77,77);
}

.site {
    font-size: 80px;
}

/*自己紹介*/

.profile_text p{
    font-size: 24px;
}

#biblio {
    border-bottom: 2px solid black;
}



/*スキル*/

.skill{
    width: 40%;
    display: inline-block;
    background-color:rgba(255,255,255,0.55);
    font-weight: bold; 
    height: auto;
    border: none;
    margin: 10px;
    padding-top: 10px;
}

/*ワーク*/
.portfolio_section{
    padding-bottom: 40px;
}

.portfolio{
    font-size: 24px;
    margin-bottom: 50px;
}

.portfolio h2, .portfolio p{
    margin: 0;
}


/*コンタクト*/
.follow-me {
    font-size: 24px;
    list-style: none;
    margin-bottom: 10px;
    margin-left: 30px;
    overflow: hidden;
    padding: 0;
   }
  .follow-me li {
    display: inline-block;
    margin: 0 15px 80px 0;
    padding: 0;
  }
  .follow-me li a::before {
    border-radius: 2px;
    display: inline-block;
    font-family: FontAwesome;
    font-size: 35px;
    height: 60px;
    width: 60px; 
    line-height: 60px; 
    transition: all .3s ease;
    text-align: center;
  }
  .follow-me li a:hover::before {
    color: violet;
  }

/* スクロール */
.scroll-in{
    opacity: 0;
    transition: 2s;
}

.scroll-right{
    opacity: 0;
    transform: translateX(100px);
    transition: 2s;
}

.scroll-left{
    opacity: 0;
    transform: translateX(-100px);
    transition: 2s;
}


  /* メディアクエリ */
@media (min-width: 900px) {
    .headmenu{
        display: block;
    }
    .menuul{
        justify-content: flex-end;
    }

    .btnwrapper{
       display: none;

 } 
}
